<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript"
	    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <div id="logo">
      {% if page.category == "home" %}
      <span class="icon icon-bar-chart"></span>
      {% endif %}
      {% if page.category == "research" %}
      <span class="icon icon-beaker"></span>
      {% endif %}
      {% if page.category == "code" %}
      <span class="icon icon-laptop"></span>
      {% endif %}
      {% if page.category == "about" %}
      <span class="icon icon-user"></span>
      {% endif %}
      {% if page.category == "contact" %}
      <span class="icon icon-envelope-alt"></span>
      {% endif %}
      {% if page.category == "cv" %}
      <span class="icon icon-folder-close"></span>
      {% endif %}
      <h2> {{ page.title }} </h2>
    </div>
    <div id="menu">
      <ul>
	<li {% if page.category == "home" %} class="active" {% endif %}>
	  <a href="/">Home</a>
	</li>
	<li {% if page.category == "research" %} class="active" {% endif %}>
	  <a href="/research">Research</a>
	  <ul >
	    {% for post in site.categories.research limit:3 %}
	    <li> <a href="{{ post.url }}" title="{{ post.title }}"><font size="2">{{ post.title }}</font></a></li>
	    {% endfor %}
	    <li> <a href="/research"><font size="2">All Research</font></a></li>
	  </ul>
	</li>
	<li {% if page.category == "code" %} class="active" {% endif %}>
	  <a href="/code">Code</a>
	  <ul>
	    {% for post in site.categories.code limit:3 %}
	    <li> <a href="{{ post.url }}" title="{{ post.title }}"><font size="2">{{ post.title }}</font></a></li>
	    {% endfor %}
	    <li> <a href="/code"><font size="2">All Code</font></a></li>
	  </ul>
	</li>
	<li {% if page.category == "cv" %} class="active" {% endif %}>
	  <a href="/cv">CV</a></li>
	<li {% if page.category == "about" %} class="active" {% endif %}>
	  <a href="/about">About</a></li>
	<li {% if page.category == "contact" %} class="active" {% endif %}>
	  <a href="/contact">Contact Me</a></li>
      </ul>
    </div>

    <br></br>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
	<li> David Gerard</li>
	<li><span class="icon icon-envelope"></span><a href="mailto:dcgerard@uchicago.edu"> email</a></li>
	<li><span class="icon icon-github"></span> <a href="https://github.com/dcgerard">github.com/dcgerard</a></li>
      </ul>
    </footer>
  </body>
</html>
