<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div id="logo">
      {% if page.category == "home" %}
      <span class="icon icon-bar-chart"></span>
      {% endif %}
      {% if page.category == "research" %}
      <span class="icon icon-beaker"></span>
      {% endif %}
      {% if page.category == "code" %}
      <span class="icon icon-laptop"></span>
      {% endif %}
      {% if page.category == "about" %}
      <span class="icon icon-user"></span>
      {% endif %}
      {% if page.category == "contact" %}
      <span class="icon icon-envelope-alt"></span>
      {% endif %}
      {% if page.category == "cv" %}
      <span class="icon icon-folder-close"></span>
      {% endif %}
      <h2> {{ page.title }} </h2>
    </div>
    <div id="menu">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/research">Research</a></li>
	<li><a href="/code">Code</a></li>
	<li><a href="/cv">CV</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact Me</a></li>
      </ul>
    </div>

    <br></br>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
	<li> David Gerard</li>
	<li><span class="icon icon-envelope"></span><a href="mailto:dcgerard@uchicago.edu"> email</a></li>
	<li><span class="icon icon-github"></span> <a href="https://github.com/dcgerard">github.com/dcgerard</a></li>
      </ul>
    </footer>
  </body>
</html>
